h1{
    color: rgba(0, 17, 255, 0.817);
}
h3{
    color: aliceblue;
}
h4{
    color: rgba(0, 17, 255, 0.817);
}
img{
    height: 350px;
    width: 650px;
}
body{
    background-color: rgb(44, 44, 44);
}